/* estilos.css */

/* Estilos generales */
body {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #dac2c2; /* Texto claro */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff4444; /* Rojo oscuro para el título */
    text-shadow: 2px 2px 4px #000000; /* Sombra para el texto */
    margin-top: 20px;
}

.container-fluid {
    padding: 20px;
}

/* Estilos para el formulario */
form {
    background-color: #070606; /* Fondo oscuro para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

legend {
    color: #ff4444; /* Rojo oscuro para la leyenda */
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-label {
    color: #e60909; /* Texto claro para las etiquetas */
}

.form-control {
    background-color: #3d3d3d; /* Fondo oscuro para los inputs */
    color: #e0e0e0; /* Texto claro para los inputs */
    border: 1px solid #130f0f; /* Borde gris */
}

.form-control:focus {
    border-color: #ff4444; /* Borde rojo oscuro al enfocar */
    box-shadow: 0 0 5px rgba(255, 68, 68, 0.5); /* Sombra roja al enfocar */
}

.btn-primary {
    background-color: #ff4444; /* Fondo rojo oscuro para el botón */
    border-color: #ff4444; /* Borde rojo oscuro para el botón */
    color: #e0e0e0; /* Texto claro para el botón */
}

.btn-primary:hover {
    background-color: #cc0000; /* Fondo rojo más oscuro al pasar el ratón */
    border-color: #cc0000; /* Borde rojo más oscuro al pasar el ratón */
}

/* Estilos para la tabla */
.table {
    background-color: #2d2d2d; /* Fondo oscuro para la tabla */
    color: #e0e0e0; /* Texto claro para la tabla */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.table th, .table td {
    border-color: #555; /* Borde gris para las celdas */
}

.table thead th {
    background-color: #444; /* Fondo oscuro para el encabezado de la tabla */
    color: #ff4444; /* Texto rojo oscuro para el encabezado de la tabla */
}

.table tbody tr:hover {
    background-color: #3d3d3d; /* Fondo oscuro al pasar el ratón sobre las filas */
}

.btn-warning {
    background-color: #ffcc00; /* Fondo amarillo para el botón de editar */
    border-color: #ffcc00; /* Borde amarillo para el botón de editar */
    color: #1a1a1a; /* Texto oscuro para el botón de editar */
}

.btn-warning:hover {
    background-color: #e6b800; /* Fondo amarillo más oscuro al pasar el ratón */
    border-color: #e6b800; /* Borde amarillo más oscuro al pasar el ratón */
}

.btn-danger {
    background-color: #cc0000; /* Fondo rojo oscuro para el botón de eliminar */
    border-color: #cc0000; /* Borde rojo oscuro para el botón de eliminar */
    color: #e0e0e0; /* Texto claro para el botón de eliminar */
}

.btn-danger:hover {
    background-color: #990000; /* Fondo rojo más oscuro al pasar el ratón */
    border-color: #990000; /* Borde rojo más oscuro al pasar el ratón */
}